.userPhoto {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.userPhotoWithBorder {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--grey-6);
    outline: 2px solid var(--green);
}